h1{
    color: #eb3b5a;
}

.Blue{

    color: BLue;

}

#paragraph1{
    color: yellowgreen;
}

.BG-Pink{
    background-color: pink;
    padding: 30px;
}

.yellow{
    background-color: yellow;
    padding: 30px;
}

