*{
    
    padding: 0;
    margin: 0;
    
}
   
 /* Headers */
.header{
    
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: -10px;
    box-shadow: 0 0 10px 15px rgba(0, 0, 0, 0.1);
    
}


.menuheader{
    display: flex;  
    list-style-type: none;
    margin-right: 27px;
    padding: 0;
    font-size: 50px;
    text-align: center;
    font-family: 'Brush Script MT', sans-serif;
   
 }

        
.logo {
    height: 0%;
    width: 75px;
    padding: -10;
    margin-left: -100px;
}


/* links */
a{
    color: black;
    text-decoration: none;
    width: 30%;
}

a:hover{
    color:#FF4545;
    text-decoration: underline;
}

.imageitem{
    object-fit: cover;
    display: flex;
    background-color: #090A0C;
    justify-content: center;
    padding: 5;
    height: 700px;
    width: 600px;
    margin: 10px;
    align-items: center;
    margin-left: 300px;
    
}

/* items */
.itemtext{
    margin-left: -650px;
    margin-top: 250px;
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: justify;
    font-weight: normal;
    align-self: center;
    float: left;
    font-size: 20px;
    
}
.itemtext2{
    margin-left: -450px;
    margin-top: 200px;
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: justify;
    font-weight: normal;
    align-self: center;
    float: left;
    font-size: 20px;
    
}

.itemtext3{
    margin-left: -750px;
    margin-top: 200px;
    text-align: left;
    font-family: 'Alegreya Sans', sans-serif;
    text-align: justify;
    font-weight: normal;
    align-self: center;
    float: left;
    font-size: 20px;
    
}






.itemname{
    margin-left: 100px;
    margin-top: 20px;
    font-size: 30px;
    align-self: top;
    


}

ul {
    list-style-type: none;
  }

/* fonts */
h3{
    margin-left: 30px;
    text-align: center;
    font-family: 'Alegreya Sans', sans-serif;
}

/* foot */
.foot{
    background-color: #090A0C;
    padding: 2px; 
    margin: 0px;
    
   
}

.foottext{
    font-size: 40px;
    text-align: left;
    font-style: 'Alegreya Sans', sans-serif;
    background-color: #090A0C;
    color: white;
    padding: 30px; 
    
}

.footimage{
    
    background-color: #090A0C;
    padding: 30;
    height: 30px;
    width: 30px;
    margin: 0px;
    align-items: center;
    display: flex;
}
.footlinks{
    display: flex;
    display:block;
    width: 10px;
    margin-left: 50px;
    background-color: #090A0C;
}

.row{
    display: flex;
    
}

.button{
    cursor: pointer ;
    border: none;
    padding: 20px 40px;
    background-color: #FF4545;
    border-radius: 30px;    
    color: white;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    /* transform: translateX(100px) skew(-30deg); */
    transition: 0.3s all ease-in-out;
}

.button:hover{
    filter: brightness(150%);
    cursor: pointer;
}

.buttonsize{
    cursor: pointer ;
    border: none;
    padding: 5px 10px;
    background-color: white;
    border-radius: 1000px;    
    color: #090A0C;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.3);
    font-size: 30px;
    /* transform: translateX(100px) skew(-30deg); */
    transition: 0.3s all ease-in-out;
    margin-left: 20px;
}

.buttonsize:hover{
    background-color: #090A0C;
    color: white;
    cursor: pointer;

}